# Visual Studio cache / temporary files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe

# Visual Studio 2017/2019 specific files
.vscode/
*.sln.docstates

# ReSharper specific
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Nn][Yy]/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk